body{
  background-color: #010011!important;
}
 
 /* Header */
 .header{
  padding: 2px 4px;
  text-align: center;
  color: rgb(223, 223, 223);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
 }
 
 
 /* Estilos de las pestañas */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: center;
}

/* Enlaces de las pestañas */
.tab a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Estilo de la pestaña activa */
.tab a.active {
  background-color: #ccc;
}